{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}




{% block body %}


  {#bouton affichant les filtres allergenes et regimes#}

  {# pour studi: l'élément à afficher disparait apres le chargement total de la page le script est interne, pour ce test #}

<a href=""><span id="badgeAllergenes" class="badge text-bg-primary" style="margin-left: 20vw; margin-top: 20px;">allergenes</span></a>
<a href=""><span id="badgeRegimes" class="badge text-bg-primary" style=" margin-top: 20px;">regimes</span></a>

  {# affichage des filtres#}

<div id="filtre-allergenes"  style=" width: 150px; height: 200px; padding: 30px; background: beige; margin-top: 30px; margin-left: 30px;  display: none; position:absolute;">

  {% for allergenes in allergene %}

  <a style="text-decoration: none;  color: black;" href="{{path('app_index_recette', {'allergeneId': allergenes.id})}}"><strong>{{ allergenes.name}}</strong></a>
    
  {% endfor %}
</div>


<div  id="filtre-regimes"  style=" width: 150px; height: 200px; padding: 30px; background: beige; margin-top: 30px; margin-left: 30px; display:none; position:absolute;">
  {% for regimes in regime %}

  <a style="text-decoration: none;  color: black;" href="{{path('app_index_recette', {'regimesId': regimes.id})}}"><strong>{{ regimes.name}}</strong></a>
    
  {% endfor %}

</div>


<div class="accueil" >

  {# boucle {% for %}, affichant la totalité des recettes #}
   {% for recette in recettes %}
   
        <div style="width: 200px;" class="card-recettes   boitesRecettes" >
          <img   src="{{ vich_uploader_asset(recette, 'imageFile')}}" class="card-img-recettes " alt="recettes">
            <div class="card-body ">
              <h5 class="card-title">{{ recette.titre}}</h5>
              <p class="card-text">description</p>
              <p><strong>commentaires</strong></strong></p>
            <div class="commentaire">
                {% if commentaire %}
                {% for comments in recette.commentaire %}
                {{comments.note}}
                <br>
                {% endfor %}
                 {% else %}
                 <p>soyez le premier à poster un commentaire</p>
                {% endif %} 
            </div>
                <a  href="{{path('app_detail_recette', {'recette': recette.id })}}" class=" btn btn-primary ">voir</a>
                </div>
               
{% endfor %}
</div>

{% endblock %}

{% block javascripts %}


<script>

   //script du systeme de filtres 

  var hiddenBox = $( "#filtre-allergenes" );
  var hiddenBox2 = $( "#filtre-regimes" );
$( "#badgeAllergenes" ).on( "click", function( event ) {
  hiddenBox.show();
});

$( "#badgeRegimes" ).on( "click", function( event ) {
  hiddenBox2.show();
});
   

</script>

{% endblock %}

