{% extends 'base.html.twig' %}

{% block title %}Hello VisiteursController!{% endblock %}


{% block stylesheets %}

<style>

    
    .stars{

        color: yellow;
    }

    .recettes{
        
        
        width: 200px;
        margin-top: 50px;
        margin-left: 50px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 5px 5px lightgrey;
        background: white;
    }

    .description{

        display: none;
    }
   
      button{
        
        width: 35px;
        height: 20px;
        background: green;
        margin-top: 50px;
        
      }
   
    .card-commentaire{

        margin-top: 100vh;
        margin-left: 5vw;

    }

    .pseudo, .message{

        font-size: 0.7em;
    }

    .commentaires{

        width: 100px;
        
    }

    .pagination{

        margin-top: 10px;
    }

   

</style>

{% endblock %}

{% block body %}




    {% for totals in total %}
    <div class="recettes">
       
        {{ totals.titre }}
        {{ totals.description }}
       
        <div class="description">
        {{ totals.preparation }}
        {{ totals.repos }}
        {{ totals.cuisson }}
        {{ totals.ingredients }}
        {{ totals.etapes }}
        {{ totals.allergene }}
        {{ totals.regime }}
        </div>
       <br> 
        <button type="button" id="btn" href="#" style="width: 70px; height: 30px;  border-radius: 8px;  background: lightblue;">voire</button>
        
    </div>
    
</div>
    {% endfor %}
    <div class="pagination">

        {{ knp_pagination_render(total, 'base/pagination.html.twig')}}
    </div>
    
   

    <div class="card-commentaire">
    {% for totalComment in totalComments %}

      <div class="commentaires">
        <div class="stars">
            <i class="lar la-star" data-value="1"></i><i class="lar la-star" 
            data-value="2"></i><i class="lar la-star" data-value="3"></i><i class="lar la-star" 
            data-value="4"></i><i class="lar la-star" data-value="5"></i>
           
            
        </div>
        <input  type="hidden" style="margin-left: 40px;" name="note" id="note" value="0">
      <p class="pseudo">{{ totalComment.pseudo }}</p>
      <p  class="message">{{ totalComment.message}}</p>
      </div>
  {% endfor %}
</div>
<div class="pagination">

    {{ knp_pagination_render(totalComments, 'base/pagination.html.twig')}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</div>
{% block javascripts %}
<script>

// Attacher un gestionnaire d'événements au clic de souris sur un bouton
$('button').click( function() {
  $(this).addClass('description');
});

</script>
    
{% endblock  %}

{% endblock %}
