{% extends 'base.html.twig' %}

{% block title %}Hello VisiteursController!{% endblock %}


{% block stylesheets %}

<style>

    
    .stars{

        color: yellow;
    }

    .recettes{
        height: 200px;
        width: 200px;
        margin-top: 50px;
        margin-left: 50px;
        padding: 15px;
    }

    .description{

        display: none;
    }
   
      button{
        
        width: 35px;
        height: 20px;
        background: green;
        margin-top: 50px;
        
      }
   
    .card-commentaire{

        margin-top: 100vh;
        margin-left: 5vw;

    }

    .pseudo, .message{

        font-size: 0.7em;
    }

    .commentaires{

        width: 100px;
        
    }

   

</style>

{% endblock %}

{% block body %}




    {% for totals in total %}
    <div class="recettes">
       
        {{ totals.titre }}
        {{ totals.description }}
        <div class="description">
        {{ totals.preparation }}
        {{ totals.repos }}
        {{ totals.cuisson }}
        {{ totals.ingredients }}
        {{ totals.etapes }}
        {{ totals.allergene }}
        {{ totals.regime }}
    </div>
</div>
    {% endfor %}
    
   

    <div class="card-commentaire">
    {% for totalComment in totalComments %}

      <div class="commentaires">
      <div class="stars">
          <i class="lar la-star" data-value="1"></i>
          <i class="lar la-star" data-value="2"></i>
          <i class="lar la-star" data-value="3"></i>
          <i class="lar la-star" data-value="4"></i>
          <i class="lar la-star" data-value="5"></i>
      </div>
      <p class="pseudo">{{ totalComment.pseudo }}</p>
      <p  class="message">{{ totalComment.message}}</p>
      </div>
  {% endfor %}
</div>
    


{% endblock %}
